@import '../../style.less';

.container-import {
	position: relative;
	z-index: 3;
	.box {
		.FUNC_BOX()
	}
	.panel-import {
		width: 386px;
		background-color: #fff;
		padding-top: 51px;
		box-sizing: border-box;
		padding-left: 15px;
		height: 169px;
		position: relative;
		z-index: 2;
	}
	.input{
		position: relative;
		.close{
			position: absolute;
			height: 34px;
			width: 34px;
			line-height: 34px;
			right: 15px;
			top: 0px;
			cursor: pointer;
		}
	}
	.panel-import input {
		width: 350px;
		height: 34px;
		padding-left: 8px;
		padding-right: 32px;
		box-sizing: border-box;
	}
	.btn-import {
		margin-top: 22px;
		font-size: 14px;
		width: 81px;
		line-height: 30px;
		.FUNC_COM_BTN();
	}
	.panel-posts {
		box-sizing: border-box;
		width: 386px;
		padding-top: 185px;
		height: 100%;
		font-size: 14px;
		position: absolute;
		top: 0px;
		z-index: 1;
	}
	.panel-scroll {
		height: 100%;
		overflow: auto;
		display: flex;
		flex-direction: column;
	}
	.panel-title {
		background-color: @BG_BOX;
		border-bottom: @S_BORDER solid 1px;
		padding-left: 15px;
		line-height: 54px;
		color: @S_ORNAMENT;
	}
	.panel-posts-body {
		flex: 1;
		overflow: auto;
		box-sizing: border-box;
		background-color: @BG_BOX;
	}
}
