.container-pic-list ul.pic-list{
    padding: 0
}
.container-pic-list .item-img{
    position: relative;
    list-style: none;
    transition: .2s;
    padding: 10px;
    text-align: center;
}
.container-pic-list .item-img img{
    max-width: 100%;
}
.container-pic-list .item-img:hover{
    background-color: #f5f5f5;
}
.container-pic-list .item-img:hover .close{
    display:block
}
.container-pic-list .item-img .close{
    width: 28px;
    display: none;
    height: 28px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #333;
    text-align: center;
    line-height: 28px;
    color: #fff;
    cursor: pointer;
}
