.container-prompt{
    min-width: 130px;
    min-height: 30px;
    line-height: 30px;
    background-color: rgba(0,0,0,0.53);
    text-align: center;
    color: #fff;
    top: 88px;
    left: 44%;
    position: fixed;
    z-index: 99999;
    border-radius: 5px;
    text-align: center;
    padding: 8px 20px 8px;
}
.container-prompt .close{
    float: right;
    width: 12px;
    height: 12px;
    background-position: -102px -223px;
    margin-right: -10px;
    cursor: pointer;
}
.container-prompt.show{
    display: block;
}
.container-prompt.hide{
    display: none;
}
