@import '../../style.less';
.container-common-item {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
    overflow-x: hidden;
    img{
        max-width: 100%;
    }
    .bazaEditor {
        padding: 25px !important;
        cursor: pointer;
        &:hover{
            background: @BG_LIST_ACTIVE;
        }
    }
}
