@import '../../style.less';
.container-common {
    float: left;
    height: 100%;
    .FUNC_BOX();

    .panel-posts {
        box-sizing: border-box;
        width: 386px;
        height: 100%;
        font-size: 14px;
    }
    .panel-title {
        background-color: @BG_BOX;
        border-bottom: @S_BORDER solid 1px;
        padding-left: 15px;
        line-height: 54px;
        color: @S_ORNAMENT;
    }
    .panel-posts-body {
        height: 100%;
        box-sizing: border-box;
        padding-top: 55px;
        margin-top: -55px;
        padding-bottom: 60px;
        background-color: @BG_BOX;
    }
}
