.container-common {
	float: left;
	height: 100%;
}
.container-common .panel-posts {
    box-sizing: border-box;
    margin-top: -169px;
    width: 386px;
    padding-top: 185px;
    height: 100%;
    font-size: 14px;
}
.container-common .panel-title {
    background-color: #fff;
    border-bottom: #f5f5f5 solid 1px;
    padding-left: 15px;
    line-height: 54px;
    color: #fa9b5b;
}
.container-common .panel-posts-body {
    height: 100%;
    padding-top: 55px;
    overflow: auto;
    margin-top: -55px;
    box-sizing: border-box;
}
